<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Stories so big they can not fit on the big scree" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>THEATERIX</title>
    <!-- Importing CSSs -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="css/scroll.css">
    <link rel="stylesheet" type="text/css" href="css/plays.css" />
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css/modal-video.min.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>
    <div id="app">
        <div class="container">
            <div v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="limit" class="row row-eq-height">
                <div v-for="post in posts" data-aos="zoom-out-up" data-aos-offset="100" data-aos-easing="ease-out-back" class="col-lg-4 my-4">
                    <!-- PLAY -->
                    <div v-if="post.type === 'link'" class="col-lg-4 col-sm-6">
                        <a target="_blank" :href="post.url">
                            <figure>
                                <img v-if="post.cover" :src="post.cover" alt="" style="max-width: 100%; width: 100%; height: auto;">
                            </figure>
                            <div class="gallery-box-caption">
                                <div class="gallery-box-content">
                                    <div>
                                        <i class="icon-lg ion-ios-play"></i>
                                    </div>
                                </div>
                            </div>
                            {{ post.type }}
                            <h1 class="text-primary talk-title">{{ post.title }}</h1>
                        </a>
                    </div>
                    <div v-if="post.type === 'media'" class="col-lg-4 col-sm-6">
                        <figure>
                            <img v-if="post.cover" :src="post.cover" alt="" style="max-width: 100%; width: 100%; height: auto;">
                        </figure>
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-play js-modal-btn" :data-video-id="post.url"></i>
                                </div>
                            </div>
                        </div>
                        {{ post.type }}
                        <button class="js-modal-btn" :data-video-id="post.url">Open Video</button>
                        <h1 class="text-primary talk-title">{{ post.title }}</h1>
                    </div>
                    <!-- /PLAY -->
                </div>
            </div>

            <div id="loading" class="py-5">
                <!-- Loading icon, should be visible only when the application state is "busy" -->
                <img src="img/loading.gif" class="d-block m-auto" data-aos="zoom-out-up" alt="Loading results" title="Loading more results, please wait..." v-show="busy">
            </div>
        </div>
    </div>

    <!-- Importing libraries -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://unpkg.com/vue-infinite-scroll@2.0.2/vue-infinite-scroll.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        $(".ion-ios-play").hover(function() {
            $(this).addClass('animated infinite pulse');
        });
        $(".ion-ios-play").mouseleave(function() {
            $(this).removeClass('animated infinite pulse');
        });
    </script>
    <script src="js/modal-video.js"></script>
</body>

</html>