<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Stories so big they can not fit on the big scree" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>THEATERIX</title>
    <!-- Importing CSSs -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="css/scroll.css">
    <link rel="stylesheet" type="text/css" href="css/plays.css" />
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css/mediabox.css" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>
    <div id="app">
        <div class="container">
            <div v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="limit" class="row row-eq-height">
                <div v-for="post in posts" data-aos="zoom-out-up" data-aos-offset="100" data-aos-easing="ease-out-back" class="col-lg-4 my-4">
                    <!-- PLAY -->
                    <div v-if="post.type === 'link'" class="col-lg-4 col-sm-6">
                        <a target="_blank" :href="post.url">
                            <figure>
                                <img v-if="post.cover" :src="post.cover" alt="" style="max-width: 100%; width: 100%; height: auto;">
                            </figure>
                            <div class="gallery-box-caption">
                                <div class="gallery-box-content">
                                    <div>
                                        <i class="icon-lg ion-ios-play"></i>
                                    </div>
                                </div>
                            </div>
                            {{ post.type }}
                            <h1 class="text-primary talk-title">{{ post.title }}</h1>
                        </a>
                    </div>
                    <div v-if="post.type === 'media'" class="col-lg-4 col-sm-6">
                        <a class="gallery-box mediabox" :href="post.url">
                            <figure>
                                <img v-if="post.cover" :src="post.cover" alt="" style="max-width: 100%; width: 100%; height: auto;">
                            </figure>
                            <div class="gallery-box-caption">
                                <div class="gallery-box-content">
                                    <div>
                                        <i class="icon-lg ion-ios-play"></i>
                                    </div>
                                </div>
                            </div>
                            {{ post.type }}
                            <h1 class="text-primary talk-title">{{ post.title }}</h1>
                        </a>
                    </div>
                    <!-- /PLAY -->
                </div>
            </div>

            <div id="loading" class="py-5">
                <!-- Loading icon, should be visible only when the application state is "busy" -->
                <img src="img/loading.gif" class="d-block m-auto" data-aos="zoom-out-up" alt="Loading results" title="Loading more results, please wait..." v-show="busy">
            </div>
        </div>
        <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="https://placehold.it/1200x700/222?text=..." id="galleryImage" class="img-responsive" />
                        <p>
                            <br/>
                            <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Importing libraries -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://unpkg.com/vue-infinite-scroll@2.0.2/vue-infinite-scroll.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/scroll.js"></script>
    <script>
        /*! mediabox v1.1.2 | (c) 2016 Pedro Rogerio | https://github.com/pinceladasdaweb/mediabox */
        (function(root, factory) {
            "use strict";
            if (typeof define === 'function' && define.amd) {
                define([], factory);
            } else if (typeof exports === 'object') {
                module.exports = factory();
            } else {
                root.MediaBox = factory();
            }
        }(this, function() {
            "use strict";

            var MediaBox = function(element) {
                if (!this || !(this instanceof MediaBox)) {
                    return new MediaBox(element);
                }

                if (!element) {
                    return false;
                }

                this.selector = element instanceof NodeList ? element : document.querySelectorAll(element);
                this.root = document.querySelector('body');
                this.run();
            };

            MediaBox.prototype = {
                run: function() {
                    Array.prototype.forEach.call(this.selector, function(el) {
                        el.addEventListener('click', function(e) {
                            e.preventDefault();

                            var link = this.parseUrl(el.getAttribute('href'));
                            console.log("link: ", link);
                            this.render(link);
                            this.events();
                        }.bind(this), false);
                    }.bind(this));

                    this.root.addEventListener('keyup', function(e) {
                        if ((e.keyCode || e.which) === 27) {
                            this.close(this.root.querySelector('.mediabox-wrap'));
                        }
                    }.bind(this), false);
                },
                template: function(s, d) {
                    var p;

                    for (p in d) {
                        if (d.hasOwnProperty(p)) {
                            s = s.replace(new RegExp('{' + p + '}', 'g'), d[p]);
                        }
                    }
                    return s;
                },
                parseUrl: function(url) {
                    var service = {},
                        matches;

                    if (matches = url.match(/^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=)([^#\&\?]*).*/)) {
                        service.provider = "youtube";
                        service.id = matches[2];
                    } else if (matches = url.match(/https?:\/\/(?:www\.)?vimeo.com\/(?:channels\/|groups\/([^\/]*)\/videos\/|album\/(\d+)\/video\/|)(\d+)(?:$|\/|\?)/)) {
                        service.provider = "vimeo";
                        service.id = matches[3];
                    } else {
                        service.provider = "Unknown";
                        service.id = '';
                    }

                    return service;
                },
                render: function(service) {
                    var embedLink,
                        lightbox;

                    if (service.provider === 'youtube') {
                        embedLink = 'https://www.youtube.com/embed/' + service.id;
                    } else if (service.provider === 'vimeo') {
                        embedLink = 'https://player.vimeo.com/video/' + service.id;
                    } else {
                        throw new Error("Invalid video URL");
                    }

                    lightbox = this.template(
                        '<div class="mediabox-wrap" role="dialog" aria-hidden="false"><div class="mediabox-content" role="document" tabindex="0"><span class="mediabox-close" aria-label="close"></span><iframe src="{embed}?autoplay=1&autoplay=1&modestbranding=1&showinfo=0&rel=0&disablekb=0" frameborder="0" allowfullscreen></iframe></div></div>', {
                            embed: embedLink
                        });

                    this.root.insertAdjacentHTML('beforeend', lightbox);
                },
                events: function() {
                    var wrapper = document.querySelector('.mediabox-wrap');

                    wrapper.addEventListener('click', function(e) {
                        if (e.target && e.target.nodeName === 'SPAN' && e.target.className === 'mediabox-close' || e.target.nodeName === 'DIV' && e.target.className === 'mediabox-wrap') {
                            this.close(wrapper);
                        }
                    }.bind(this), false);
                },
                close: function(el) {
                    if (el === null) return true;
                    var timer = null;

                    if (timer) {
                        clearTimeout(timer);
                    }

                    el.classList.add('mediabox-hide');

                    timer = setTimeout(function() {
                        var el = document.querySelector('.mediabox-wrap');
                        if (el !== null) {
                            this.root.removeChild(el);
                        }
                    }.bind(this), 500);
                }
            };

            return MediaBox;
        }));
    </script>
    <script>
        MediaBox('.mediabox');
    </script>
    <script>
        $(".ion-ios-play").hover(function() {
            $(this).addClass('animated infinite pulse');
        });
        $(".ion-ios-play").mouseleave(function() {
            $(this).removeClass('animated infinite pulse');
        });
    </script>
</body>

</html>